@model WebApplication2.Models.Tinnhanh

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Tinnhanh</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Matinnhanh" />
        <div class="form-group">
            <label asp-for="Noidung" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Noidung" class="form-control" />
                <span asp-validation-for="Noidung" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Machuyenmuc" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Machuyenmuc" class="form-control" asp-items="ViewBag.Machuyenmuc"></select>
                <span asp-validation-for="Machuyenmuc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <input type="button" value="Quay trở lại" class="btn btn-info" onclick="location.href='@Url.Action("Index","Tinnhanhs")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
