@model WebApplication2.Models.Chuyenmuc

@{
    ViewData["Title"] = "Edit";
}

<h2>Sửa</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Chuyenmuc</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Machuyenmuc" />
        <div class="form-group">
            <label asp-for="Tenchuyenmuc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tenchuyenmuc" class="form-control" />
                <span asp-validation-for="Tenchuyenmuc" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="Sobaiviet" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Sobaiviet" class="form-control" readonly=""/>
                <span asp-validation-for="Sobaiviet" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
   <input type="button" value="Quay trở lại" class="btn btn-info" onclick="location.href='@Url.Action("Index","Chuyenmucs")'" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
