@model WebApplication2.Models.Tintuc

@{
    ViewData["Title"] = "Edit";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h2>Sửa</h2>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <h4>Tin tức</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Matintuc" />
        <div class="form-group">
            <label asp-for="Tieude" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tieude" class="form-control" />
                <span asp-validation-for="Tieude" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tieudecon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tieudecon" class="form-control" />
                <span asp-validation-for="Tieudecon" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Noidung" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Noidung" class="form-control"></textarea>
                <span asp-validation-for="Noidung" class="text-danger"></span>
                <script>
                    CKEDITOR.replace('Noidung');
                </script>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Ảnh hiện tại</label>
            <div class="form-group">
                <img src="~/images/@Model.Anh" width="250" height="150" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Anh" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" name="Anh" class="btn-default"/>
                <span asp-validation-for="Anh" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ngaydang" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ngaydang" class="form-control" />
                <span asp-validation-for="Ngaydang" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tacgia" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tacgia" class="form-control" />
                <span asp-validation-for="Tacgia" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Machuyenmuc" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Machuyenmuc" class="form-control" asp-items="ViewBag.Machuyenmuc"></select>
                <span asp-validation-for="Machuyenmuc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <input type="button" value="Quay trở lại" class="btn btn-info"    onclick="location.href='@Url.Action("Index","Tintucs")'"/>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
